<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>by.epamjwd.mobile.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>companyEmail</param-name>
		<param-value>mobile@mobile.by</param-value>
	</context-param>	

	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error500.jsp</location>
	</error-page>

	<listener>
		<listener-class>by.epamjwd.mobile.controller.listener.AppContextListener</listener-class>
	</listener>
  
    <filter>
	    <filter-name>CharacterFilter</filter-name>
	    <filter-class>by.epamjwd.mobile.controller.filter.CharacterSetFilter</filter-class>
	</filter>

	<filter-mapping>
	    <filter-name>CharacterFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter>
	    <filter-name>SessionTimeoutFilter</filter-name>
	    <filter-class>by.epamjwd.mobile.controller.filter.SessionTimeoutFilter</filter-class>
	</filter>

	<filter-mapping>
	    <filter-name>SessionTimeoutFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

  	<session-config>
   		<session-timeout>300</session-timeout>
	</session-config>

	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/tld/custom.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
		</taglib>
	</jsp-config>
  
</web-app>